*{
    background:white;
}
.goouno{
    font-size: 100px;
    color: plum;
}
.goodos{
    font-size: 100px;
    color: plum;
}
.gootres{
    font-size: 100px;
    color: plum;

}
.goocuatro{
    font-size: 100px;
    color: plum;

}
.goocinco{
    font-size: 100px;
    color: plum;

}
.ig{
    color: black;
    font-size: 300PX;
}
